<div class="container">
  <!-- Sidebar -->
  <nav [class.closed]="isSidebarClosed" class="sidebar">
    <div class="title-topics">
      <h3>Angular Topics</h3>
    </div>

    <div class="sidebar-toggle" (click)="toggleSidebar()">☰</div>
    <div class="theme-toggle" (click)="toggleTheme()">
      {{ isDarkMode ? '🌞' : '🌙' }}
    </div>
    <ul>

      <!-- <li>
        <a routerLink="/html-css" style="text-decoration: none; color: inherit;">
          <span>HTML & CSS</span>
        </a>
      </li> -->
      
      
       
      <li (click)="toggleDropdown('dataBinding')">
        <span>1.Data Binding</span>
        <ul *ngIf="activeDropdown === 'dataBinding'" class="subtopics">
          <li><a routerLink="/databinding/interpolation" class="nav-link">Interpolation</a></li>
          <li><a routerLink="/databinding/event-binding" class="nav-link">Event Binding</a></li>
          <li><a routerLink="/databinding/property-binding" class="nav-link">Property Binding</a></li>
          <li><a routerLink="/databinding/two-way-binding" class="nav-link">Two-way Binding</a></li>
        </ul>
      </li>

      <li (click)="toggleDropdown('directives')">
        <span>Directives</span>
        <ul *ngIf="activeDropdown === 'directives'" class="subtopics">
          <li (click)="loadContent('ngIf')">ngIf</li>
          <li (click)="loadContent('ngFor')">ngFor</li>
        </ul>
      </li>

      <li (click)="toggleDropdown('routing')">
        <span>Routing</span>
        <ul *ngIf="activeDropdown === 'routing'" class="subtopics">
          <li (click)="loadContent('Basic Routing')">Basic Routing</li>
          <li (click)="loadContent('Lazy Loading')">Lazy Loading</li>
        </ul>
      </li>
    </ul>
  </nav>

  <!-- Content Area -->
  <main class="content">
    <div class="content-box">
      <p *ngIf="!selectedTopic"> <router-outlet></router-outlet></p>
      <div *ngIf="selectedTopic">
        <h3>{{ selectedTopic }}</h3>
        <p>Content for {{ selectedTopic }} will be displayed here.</p>
      </div>
    </div>
  </main>
 
</div>



