<div class="container">
  <!-- Sidebar -->
  <nav [class.closed]="isSidebarClosed" class="sidebar">
    <div class="sidebar-header">
      <div class="sidebar-toggle" (click)="toggleSidebar()">☰</div>&nbsp;
      <h3 class="sidebar-title" *ngIf="!isSidebarClosed">ANGULAR TOPICS</h3>
    </div>


   
    <!-- <div class="theme-toggle" (click)="toggleTheme()">
      {{ isDarkMode ? '🌞' : '🌙' }}
    </div> -->
    <!-- <div class="theme-toggle" (click)="toggleTheme()" >
      <span class="moon-sun-icon">{{ isDarkMode ? '🌞' : '🌙' }}</span>
    </div> -->
    <!-- <div class="theme-toggle" (click)="toggleTheme()">
      <span class="moon-sun-icon">{{ isDarkMode ? '🌞' : '🌙' }}</span>
    </div>
     -->
    
    <ul>

      <!-- <li>
        <a routerLink="/html-css" style="text-decoration: none; color: inherit;">
          <span>HTML & CSS</span>
        </a>
      </li> -->
      
      
       
      <li (click)="toggleDropdown('dataBinding')">
        <span style="font-size: 18px;">1.Data Binding</span>
        <ul *ngIf="activeDropdown === 'dataBinding'" class="subtopics">
          <li><a routerLink="/databinding/interpolation" class="nav-link">Interpolation</a></li>
          <li><a routerLink="/databinding/event-binding" class="nav-link">Event Binding</a></li>
          <li><a routerLink="/databinding/property-binding" class="nav-link">Property Binding</a></li>
          <li><a routerLink="/databinding/two-way-binding" class="nav-link">Two-way Binding</a></li>
          <li><a routerLink="/databinding/summary" class="nav-link">Summary</a></li>
          <li><a routerLink="/databinding/Task" class="nav-link">Task</a></li>

        </ul>
      </li>

      <li (click)="toggleDropdown('directive')">
        <span style="font-size: 18px;">2.Directives</span>
        <ul *ngIf="activeDropdown === 'directive'" class="subtopics">
          <!-- <li><a routerLink="/" class="nav-link">T</a></li> -->
          <li><a routerLink="/directive/structural"class="nav-link">Structural</a></li>
          <li><a routerLink="/directive/attribute" class="nav-link">Attribute</a></li>
          <li><a routerLink="/directive/custom-directive" class="nav-link">Custom</a></li>
          <li><a routerLink="/directive/directive-task" class="nav-link">Task</a></li>
        </ul>
      </li>

      <li (click)="toggleDropdown('pipe')">
        <span style="font-size: 18px;">3.Pipe</span>
        <ul *ngIf="activeDropdown === 'pipe'" class="subtopics">
          <li><a routerLink="/pipe/built-in-pipes" class="nav-link">Built-in Pipes</a></li>
          <li><a routerLink="/pipe/custom-pipe" class="nav-link">Custom Pipe</a></li>
        </ul>
      </li>

      <li (click)="toggleDropdown('parent-child')">
        <span style="font-size: 18px;">4.Parent-Child</span>
        <ul *ngIf="activeDropdown === 'parent-child'" class="subtopics">
          <!-- <li><a routerLink="/" class="nav-link">T</a></li> -->
          <li><a routerLink="/parentChild/parent"class="nav-link">Parent</a></li>
          <!-- <li><a routerLink="/parentChild/parent/child1"class="nav-link">child1</a></li> -->


        </ul>
      </li>

      <li (click)="toggleDropdown('hooks')">
        <span style="font-size: 18px;">6.Hooks</span>
        <ul *ngIf="activeDropdown === 'hooks'" class="subtopics">
          <li><a routerLink="/hooks/parent" class="nav-link">All Hooks</a></li>
        </ul>
      </li>

      <li (click)="toggleDropdown('forms')">
        <span style="font-size: 18px;">7.Forms</span>
        <ul *ngIf="activeDropdown === 'forms'" class="subtopics">
          <li><a routerLink="/forms/template-driven" class="nav-link">1.Template Driven</a></li>
          <li><a routerLink="/forms/reactive"lass="nav-link">2.Reactive </a></li>
          <li><a routerLink="/forms/forms-task"lass="nav-link">3.Task</a></li>


        </ul>
      </li>

      <li (click)="toggleDropdown('html-css')">
        <span style="font-size: 18px;">8.HTML-CSS</span>
        <ul *ngIf="activeDropdown === 'html-css'" class="subtopics">
          <li><a routerLink="/HTML-CSS/login-form" class="nav-link">1.Login-Form</a></li>
          <li><a routerLink="/task/admin-user-login" class="nav-link">2.Admin-User-LoginForm</a></li>

          
        </ul>
      </li>

      <li (click)="toggleDropdown('angular-material')">
        <span style="font-size: 18px;">9.Angular Material</span>
        <ul *ngIf="activeDropdown === 'angular-material'" class="subtopics">
          <li><a routerLink="/angular-material" class="nav-link">angular-material</a></li> 

          
        </ul>
      </li>

      <li (click)="toggleDropdown('crud-operation')">
        <span style="font-size: 18px;">10.Crud-operation</span>
        <ul *ngIf="activeDropdown === 'crud-operation'" class="subtopics">
          <li><a routerLink="Crud-operation/employee" class="nav-link">1.crud-operation</a></li>
           <li><a routerLink="/crud-operation-2/crud" class="nav-link">2.Crud-operation Using services</a></li>
           <li><a routerLink="/crud-operation-2/localstorage" class="nav-link">3.Local Storage</a></li>


          
        </ul>
      </li>

      <li (click)="toggleDropdown('task')">
        <span style="font-size: 18px;">11.Daily Task</span>
        <ul *ngIf="activeDropdown === 'task'" class="subtopics">
          <li><a routerLink="/task/profile" class="nav-link">1.Profile</a></li>
          <li><a routerLink="/task/admin-user-login" class="nav-link">2.Admin-User-LoginForm</a></li>
          <li><a routerLink="/task/signup">3.Auth-Role using CRUD Crud-operation</a></li>
          <li><a routerLink="task/firebase-login">4.Auth-system with firebase</a></li>
          <li><a routerLink='task/student-data'>4.Auth-system with firebase</a></li>



          
        </ul>
      </li>
   
   
   
  </ul>


  </nav>
  
 


  <!-- Content Area -->
  <main class="content" >
    <div class="content-box">
      <p *ngIf="!selectedTopic"> <router-outlet></router-outlet></p>
      <div *ngIf="selectedTopic">
        <h3>{{ selectedTopic }}</h3>
        <p>Content for {{ selectedTopic }} will be displayed here.</p>
      </div>
    </div>
  </main>
 
</div>



