<div class="container">
  <!-- Sidebar -->
  <nav [class.closed]="isSidebarClosed" class="sidebar">
    <div class="title-topics">
      <h3 style="margin-right: 20px;"><span>ANGULAR</span><br><span>TOPICS</span></h3>
    </div>
    

    <div class="sidebar-toggle" (click)="toggleSidebar()">☰</div>
    <!-- <div class="theme-toggle" (click)="toggleTheme()">
      {{ isDarkMode ? '🌞' : '🌙' }}
    </div> -->
    <!-- <div class="theme-toggle" (click)="toggleTheme()" >
      <span class="moon-sun-icon">{{ isDarkMode ? '🌞' : '🌙' }}</span>
    </div> -->
    <div class="theme-toggle" (click)="toggleTheme()">
      <span class="moon-sun-icon">{{ isDarkMode ? '🌞' : '🌙' }}</span>
    </div>
    
    
    <ul>

      <!-- <li>
        <a routerLink="/html-css" style="text-decoration: none; color: inherit;">
          <span>HTML & CSS</span>
        </a>
      </li> -->
      
      
       
      <li (click)="toggleDropdown('dataBinding')">
        <span>1.Data Binding</span>
        <ul *ngIf="activeDropdown === 'dataBinding'" class="subtopics">
          <li><a routerLink="/databinding/interpolation" class="nav-link">Interpolation</a></li>
          <li><a routerLink="/databinding/event-binding" class="nav-link">Event Binding</a></li>
          <li><a routerLink="/databinding/property-binding" class="nav-link">Property Binding</a></li>
          <li><a routerLink="/databinding/two-way-binding" class="nav-link">Two-way Binding</a></li>
          <li><a routerLink="/databinding/summary" class="nav-link">Summary</a></li>
          <li><a routerLink="/databinding/Task" class="nav-link">Task</a></li>

        </ul>
      </li>

      <li (click)="toggleDropdown('directive')">
        <span>2.Directives</span>
        <ul *ngIf="activeDropdown === 'directive'" class="subtopics">
          <!-- <li><a routerLink="/" class="nav-link">T</a></li> -->
          <li><a routerLink="/directive/structural"class="nav-link">Structural</a></li>
          <li><a routerLink="/directive/attribute" class="nav-link">Attribute</a></li>
          <li><a routerLink="/directive/custom-directive" class="nav-link">Custom</a></li>
        </ul>
      </li>

      <li (click)="toggleDropdown('pipe')">
        <span>3.Pipe</span>
        <ul *ngIf="activeDropdown === 'pipe'" class="subtopics">
          <li><a routerLink="/pipe/built-in-pipes" class="nav-link">Built-in Pipes</a></li>
          <li><a routerLink="/pipe/custom-pipe" class="nav-link">Custom Pipe</a></li>
        </ul>
      </li>

      <li (click)="toggleDropdown('parent-child')">
        <span>4.Parent-Child</span>
        <ul *ngIf="activeDropdown === 'parent-child'" class="subtopics">
          <!-- <li><a routerLink="/" class="nav-link">T</a></li> -->
          <li><a routerLink="/parentChild/parent"class="nav-link">Parent</a></li>
          <li><a routerLink="/parentChild/parent/child1"class="nav-link">child1</a></li>
          <li><a routerLink="/parentChild/parent/child2"class="nav-link">child2</a></li>


        </ul>
      </li>

      <li (click)="toggleDropdown('hooks')">
        <span>6.Hooks</span>
        <ul *ngIf="activeDropdown === 'hooks'" class="subtopics">
          <li><a routerLink="/hooks/constructor" class="nav-link">Constructor</a></li>
          <li><a routerLink="/hooks/on-changes" class="nav-link">1.ngOnChanges</a></li>
          <li><a routerLink="/hooks/on-init" class="nav-link">2.ngOnInit</a></li>
          <li><a routerLink="/hooks/do-check" class="nav-link">3.ngDoCheck</a></li>
          <li><a routerLink="/hooks/after-content-init" class="nav-link">4.ngAfterContentInit</a></li>
          <li><a routerLink="/hooks/after-content-checked" class="nav-link">5.ngAfterContentChecked</a></li>
          <li><a routerLink="/hooks/after-view-init" class="nav-link">6.ngAfterViewInit</a></li>
          <li><a routerLink="/hooks/after-view-checked" class="nav-link">7.ngAfterViewChecked</a></li>
          <li><a routerLink="/hooks/destroy" class="nav-link">8.ngOnDestroy</a></li>
        </ul>
      </li>

      <li (click)="toggleDropdown('forms')">
        <span>7.Forms</span>
        <ul *ngIf="activeDropdown === 'forms'" class="subtopics">
          <!-- <li><a routerLink="/" class="nav-link">T</a></li> -->
          <li><a routerLink="/" class="nav-link">1.Template Driven</a></li>
          <li><a routerLink="/" class="nav-link">2.Reactive </a></li>
        </ul>
      </li>

      <li (click)="toggleDropdown('task')">
        <span>8.Daily Task</span>
        <ul *ngIf="activeDropdown === 'task'" class="subtopics">
          <!-- <li><a routerLink="/" class="nav-link">T</a></li> -->
          <li><a routerLink="/task/profile" class="nav-link">1.Profile</a></li>
          <li><a routerLink="/task/angular-material" class="nav-link">2.Angular Material</a></li>
          <li><a routerLink="/task/admin-user-login" class="nav-link">2.Admin-User-LoginForm</a></li>

          
        </ul>
      </li>
   
   
  </ul>


  </nav>
  
 


  <!-- Content Area -->
  <main class="content">
    <div class="content-box">
      <p *ngIf="!selectedTopic"> <router-outlet></router-outlet></p>
      <div *ngIf="selectedTopic">
        <h3>{{ selectedTopic }}</h3>
        <p>Content for {{ selectedTopic }} will be displayed here.</p>
      </div>
    </div>
  </main>
 
</div>



