<div class="container">
  <p appHighlights>Hover this text see the effect</p>
  <hr>


  <p [ngStyle]="{'color': 'blue', 'font-size': '20px'}">
    This text is styled using ngStyle!
    dynamically apply inline styles to an element based on component properties.
  </p>

  <hr>

  <p [ngClass]="{'text-success': isSuccess, 'text-danger': !isSuccess}">
    This text color changes based on condition.
  </p>
  <button (click)="isSuccess = !isSuccess">Click me</button>
  <hr>

  <p [hidden]="isVisible">This para is visible when its value is true</p>
  <button (click)="isVisible=!isVisible">Click me!</button>

  <hr>

  when toggel button is disable the can't enter the text in text field <br>
  <input type="text" [disabled]="isDisable" placeholder="type something...." style="margin-right: 10px;" />
  <button (click)="isDisable=!isDisable">Toggle Button</button>
  <hr>
</div>